html, body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}
body {
  background-color: #282822;
}
h1 {
  margin:0;
}

h2 {
  margin-top: 5px;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus{
  color: lighten(rgb(135,75,145), 20%)
}
  
/* ===========================================
Fonts
=========================================== */
.gigantic, .huge, .large, .bigger, .big, 
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
  

.gigantic{
	font-size: 110px;
	line-height: 1.09;
	letter-spacing: -2px;
 }

.huge, h1{
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
 }

.large, h2{
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 1.38;
}
  
.big, h4{
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

/* ===========================================
 Banner Styles
=========================================== */
#skyline {
    position: fixed;
    margin: 0px auto;
    right: 0px;
    left: 0px;
    max-width:1000px;
  }

#title {
  position: fixed;
  margin: 0px auto;
  right: 0px;
  left: 0px;
  font-size: 6em;
  font-weight: bold;
}

#banner {
  height: 250px;
 /* padding-top: 60px; */
  background-color: #282822;
  font-family: Roboto, sans-serif;
  color: white;
  text-align: center;
  position: relative; 
}

#logo{
  height: 200px;
  position: absolute;
  top: 150px;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  z-index:1;
  border-radius: 200px;
}

/* ===========================================
Sections
old colors
background-color: #FFF;
background-color: yellow;
background-color: #EB7300;
=========================================== */
.section_white {
  padding: 20px;
  background-color: #ecf0f1;
  color: gray;
  text-align: center;
  position: relative;
}

.section_yellow {
  padding: 20px;
  background-color: #f1c40f;
  color: #282822;
  text-align: center;
  position: relative;
}

.section_orange{
  padding: 20px;
  margin: 0 auto;
  background-color: #e67e22;
  color: white;
  text-align: center;
  position: relative;
}

.content_wrap {
	max-width: 1200px;
	margin: 0 auto;
}

/* ===========================================
Table styles
=========================================== */
.row{ 
  display:table;
  width: 100%;
  margin: 0 auto;
}
.col {
  display: table-cell;
}

.sky_max {
  max-width: 1000px;
}

/* ===========================================
Speaher styles
=========================================== */
.speaker{
	max-width: 50%;
	width: 300px;
}

.speaker_head{
  max-width: 200px;
  width: 100%; 
  border-radius: 200px;
}


/* ===========================================
FAQ styles
=========================================== */
#faq_wrapper p{
  margin-left: 0px;
  margin-right: 0px;
}

.faq_col{
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.faq_aq{
  border-bottom:3px dotted gray;
  padding-right: 10px;
  margin-bottom: 10px;
}


/* ===========================================
 Team head styles
=========================================== */
.pic {
	height:200px; 
	width: 200px;
	margin:0 auto;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 200px;
	text-align: center;
	font-size: 1.1em;
}

.pic_name {
	height:200px; 
	width: 200px;
	border-radius:200px;
	background-color: rgba(0, 0, 0, 0.00);
	color: rgba(255, 255, 255, 0.00);
	
}
.pic_name span{
	top:75px;
	position:relative;
}

.pic_name:hover {
	-webkit-animation: fadeInName 1s forwards;
	animation: fadeInName 1s forwards;	
}

@-webkit-keyframes fadeInName {
	from {background-color: rgba(0, 0, 0, 0.00);
		color: rgba(255, 255, 255, 0.00);}
    to {background-color: rgba(0, 0, 0, 0.25);
	color: rgba(255, 255, 255, 1);}
}

@keyframes fadeInName {
	from {background-color: rgba(0, 0, 0, 0.00);
		color: rgba(255, 255, 255, 0.00);}
    to {background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 1);}
}


/* ===========================================
Footer styles
=========================================== */
#footer{
    color:white; 
    padding: 10px;
    max-width:500px;
    margin: 0 auto;
}
.page_link{
    padding:20px;
}

/* ===========================================
Partner Logo styles
=========================================== */
.partner_row1{
  width: 50%;
}

#unis_logo {
 max-width: 250px;
 width: 100%;
}

#ttsf_logo {
  padding-left: 20px;
  max-height: 100px;
  max-width: 100px;
  height: 100%;
}

/* ===========================================
Media
=========================================== */
@media only screen and (max-device-width: 570px)  {
	.faq_col{
		width: 100%;
	}
	.col{
		display: initial;
	}
	
	#title {
		padding-top: 25px;
		font-size: 80px;
		line-height: 1;
	}
}

@media only screen and (max-device-width: 480px)  {
	#skyline {
		top: 40px;
	}
	
	#title {
		padding-top: 0;
	}
}