<div class="text" style="color: #282822; text-align: center;">
    <div class="content_wrap">
        <h1>TeenTech NY 2014 </h1> 
        Build Bridges Not Borders: Tech For a Better World
    </div>
</div>

<h2>Speakers</h2>
<!--Nick and Quissence-->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/nick_landry/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/microsoft/nick.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/nick_landry/" style="text-decoration: none;">
	      		<h3> Nick Landry </h3>
	    	</a>
	    	Senior Technical Evangelist @ Microsoft
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/quiessence_phillips/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/quiessence/quiessence.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/quiessence_phillips/" style="text-decoration: none;">
	      		<h3> Quiessence Phillips </h3>
	    	</a>
	    	Cyber Security professional
		</div>
	</div>
</div>
<!--Sam and Evan-->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/emc/samantha.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	      		<h3> Samantha Zucker </h3>
	    	</a>
	    	Lead UX Designer @ ECMC
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/indiegogo/evan.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	      		<h3> Evan Cohen </h3>
	    	</a>
	    	Community Manager &ndash; Hardware, Design and Technology @ Indiegogo
	  	</div>
	</div>
</div>
<!--Anndrew and Desiree -->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/gigaom/andrew.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	      		<h3> Andrew Brust </h3>
	    	</a>
	    	Research Director for Big Data and Analytics @ Gigaom
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/desiree/desiree.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	      		<h3> Desiree Frieson </h3>
	    	</a>
	    	Lead Organizer @ 3 Day Startup NYC
	  	</div>
	</div>
</div>
<!--Tamar Shapiro & Thomas Parker-->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/tamar_shapiro/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/american_express/tamar.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/tamar_shapiro/" style="text-decoration: none;">
	      		<h3> Tamar Shapiro </h3>
	    	</a>
	    	VP Analytics, Insight & Experimentation @ American Express
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/thomas_parker/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/american_express/tom.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/thomas_parker/" style="text-decoration: none;">
	      		<h3> Thomas Parker </h3>
	    	</a>
	    	VP HR Busineess Partner - Technology @ American Express
	  	</div>
	</div>
</div>
<!--Ron & Fernando -->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/ron_dodge/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/west_point/ron.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/ron_dodge/" style="text-decoration: none;">
	      		<h3> Ron Dodge </h3>
	    	</a>
	    	CIO and the Associate Dean for Information and Education Technology @ West Point
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/fernando_maymi/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/west_point/maymi.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/fernando_maymi/" style="text-decoration: none;">
	      		<h3> Fernando Maymí </h3>
	    	</a>
	    	Deputy Director of the Army Cyber Institute @ West Point.
	  	</div>
	</div>
</div>
<!-- Anna and Jesus -->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/jesus_aguilar/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/microsoft/jesus.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/jesus_aguilae/" style="text-decoration: none;">
	      		<h3> Jesus Aguilar </h3>
	    	</a>
	    	Senior Technical Evangelist @ Microsoft
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/anna_lindow/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/general_assembly/anna.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/anna_lindow/" style="text-decoration: none;">
	      		<h3> Anna Lindow </h3>
	    	</a>
	    	General Manager of Campus Education and Operations @ General Assembly
	  	</div>
	</div>
</div>
<!-- Elisabeth and John -->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/elisabeth_cordell/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/1docway/elisabeth.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/elisabeth_cordell/" style="text-decoration: none;">
	      		<h3> Elisabeth Cordell </h3>
	    	</a>
	    	Clinical Trials and Regulatory Affairs Specialist @ 1DocWay
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/john_contreras/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/ubi/john.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/john_contreras/" style="text-decoration: none;">
	      		<h3> John Contreras </h3>
	    	</a>
	    	Storyboard Artist and 3D modeler @ Ubisoft
	  	</div>
	</div>
</div>





