---
layout: main
---
    <div id="about" style="padding-top: 100px;" class="section_yellow text">
    	<div class="content_wrap">
    		{% include main/welcome.html %}
    	</div>
    </div>
		
    <div id="speakers" class="section_white text">
    	<div class="content_wrap">
			{% include main/speakers.html %}
		</div>
    </div>

    <div id="faq" class="section_orange text">
		{% include main/faq.html %}
    </div>

    <div id='partners' class="section_white">
    	{% include main/partners.html %}
    </div>


    