---
layout: wide
---

<div class="page_title" >
	<h1> TeenTech Global 2014 </h1>
	<h3> Build Bridges Not Borders: Tech For a Better World </h3>
</div>

<div class="speaker_list">
	<ul>
		{% for speaker_hash in site.data.speakers %}
			{% assign speaker = speaker_hash[1] %}
			<li>
				<div class="speaker">
					<a href="./{{ speaker.name_normal }}" > 
						<img class="speaker_head" src="/images/orgs/{{ speaker.org_normal }}/{{ speaker.name_normal }}.png">
						<h3> {{ speaker.name }} </h3>
					</a>
					<span> {{ speaker.title }} {% if speaker.org %} @ {{ speaker.org }} {% endif %} </span>
				</div>
			</li>
		{% endfor %}
		<div style='clear:both;'></div>	
	</ul>	
</div>