---
layout: wide
---

<div class="page_title" >
	<h1> TeenTech Global 2014 </h1>
	<h3> Build Bridges Not Borders: Tech For a Better World </h3>
</div>

<div class="col-2">
	<div class="event_dis">
		<p>
		 October 18<sup>th</sup> 2014 - TeenTech NY held our first ever event, TeenTech Global: a simultaneous conference with locations all over the world such as San Francisco, Washington, Morocco, China, Spain and many more!
		</p>
		<p>
		 At TeenTech NY we had an exciting day hosted at Microsoft's NYC offices. Over 100 students attended various workshops lead by 14 professionals from various industries.
		</p>
	</div>
	<div class="promo-video">
		<iframe src="//player.vimeo.com/video/111140027?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div style='clear:both;'></div>
</div>
<hr>

<div class="speaker_list">
<h2> Speakers </h2>
	<ul>
		{% for speaker_hash in site.data.speakers %}
			{% assign speaker = speaker_hash[1] %}
			<li>
				<div class="speaker">
					<a href="./{{ speaker.name_normal }}" > 
						<img class="speaker_head" src="/images/orgs/{{ speaker.org_normal }}/{{ speaker.name_normal }}.png">
						<h3> {{ speaker.name }} </h3>
					</a>
					<span> {{ speaker.title }} {% if speaker.org %} @ {{ speaker.org }} {% endif %} </span>
				</div>
			</li>
		{% endfor %}
		<div style='clear:both;'></div>	
	</ul>	
</div>