---
layout: page
---
      <h2> The Team </h2>
      <p> The Teen Tech NY team is comprised of tech leaders from the United Nations School each with their own unique stories </p>

      <div class="row sky_max">
      	{% include comps/head.html name="Tim Cargan" name_url="/images/faces/tim_cargan.jpg" %}
      	{% include comps/head.html name="Ruth Bamuwamye" name_url="/images/faces/ruth_bamuwamye.jpg" %}
      	{% include comps/head.html name="Andrei Aldea" name_url="/images/faces/andrei_aldea.jpg" %}
      	{% include comps/head.html name="Nils Steinbuegl" name_url="/images/faces/nils_steinbuegl.jpg" %}
      </div>
