<h2>FAQ</h2>
<div id="faq_wrapper" class="row">
  <!-- Left -->
  <div class="col faq_col">
    <div class="faq_aq">
        <h3>What is Teen Tech NY?</h3>
        <p>
          TeenTech NY is a community of like-minded individuals. Our goal is to open up the tech 
          community to anyone and everyone. We do this by hosting events such as this falls Bicoastal 
          Teen Tech conference where various experts in the tech industry lead workshops on technology. 
        </p>
    </div>
      <div class="faq_aq">
        <h3>Where will it be?</h3>
        <p>
          The event will be held at Microsoft&#8217;s offices.
        </p>
      </div>
      <div class="faq_aq">
        <h3>Can my parents come?</h3>
        <p>
          Unfortunately, there won&#8217;t be enough room to bring your parents.
        </p>
      </div>
   </div>
  <!-- Left -->  
<div class="col faq_col">
    <div class="faq_aq">
        <h3>Who can attend?</h3>
        <p>
          TeenTech NY is open to New York City students 9th grade and up!
        </p>
    </div>
        <div class="faq_aq">
        <h3>When is it?</h3>
        <p>
          October 18<sup>th</sup> 2014
        </p>
    </div>
      <div class="faq_aq">
        <h3>How much will it cost?</h3>
        <p>
          It&#8217;s <u>FREE</u> for all high school students. Our goal is to make technology as accessible as possible 
          so we don&#8217;t want cost to stop people from attending.
        </p>
    </div>
    <div class="faq_aq">
        <h3>What if it rains?</h3>
        <p>
          Who cares? Tech knows no weather! Plus I hear Microsoft have super nice offices!
        </p>
      </div>
  </div>
</div>