<div class="text" style="color: #282822; text-align: center;">
    <div class="content_wrap">
        <h1>TeenTech NY 2014 </h1> 
        Build Bridges Not Borders: Tech For a Better World
    </div>
</div>

<h2>Speakers</h2>
<!--Evan and Samantha-->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/nick_landry/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/microsoft/nick.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/nick_landry/" style="text-decoration: none;">
	      		<h3> Nick Landry </h3>
	    	</a>
	    	Senior Technical Evangelist @ Microsoft
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/quiessence_phillips/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/quiessence/quiessence.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/quiessence_phillips/" style="text-decoration: none;">
	      		<h3> Quiessence Phillips </h3>
	    	</a>
	    	Cyber Security professional
		</div>
	</div>
</div>
<!--Nick and Desiree -->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/emc/samantha.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	      		<h3> Samantha Zucker </h3>
	    	</a>
	    	Lead UX Designer @ ECMC
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/indiegogo/evan.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	      		<h3> Evan Cohen </h3>
	    	</a>
	    	Community Manager &ndash; Hardware, Design and Technology @ Indiegogo
	  	</div>
	</div>
</div>
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/gigaom/andrew.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	      		<h3> Andrew Brust </h3>
	    	</a>
	    	Research Director for Big Data and Analytics @ Gigaom
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/desiree/desiree.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	      		<h3> Desiree Frieson </h3>
	    	</a>
	    	Lead Organizer @ 3 Day Startup NYC
	  	</div>
	</div>
</div>
<!--Tamar Shapiro & Thomas Parker-->
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/tamar_shapiro/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/emc/shapiro.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/tamar_shapiro/" style="text-decoration: none;">
	      		<h3> Tamar Shapiro </h3>
	    	</a>
	    	VP of Analytics, Insight &ndash Experimentation @ American Express
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/thomas_parker/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/parker.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/thomas_parker/" style="text-decoration: none;">
	      		<h3> Thomas Parker </h3>
	    	</a>
	    	VP and HR Business Partner supporting tech org. @American Express
	  	</div>
	</div>
</div>
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/gigaom/andrew.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	      		<h3> Andrew Brust </h3>
	    	</a>
	    	Research Director for Big Data and Analytics @ Gigaom
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/desiree/desiree.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	      		<h3> Desiree Frieson </h3>
	    	</a>
	    	Lead Organizer @ 3 Day Startup NYC
	  	</div>
	</div>
</div>



