<div class="text" style="color: #282822; text-align: center;">
    <div class="content_wrap">
        <h1>TeenTech NY 2014 </h1> 
        Build Bridges Not Borders: Tech For a Better World
    </div>
</div>

<h2>Speakers</h2>
<div class="row">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/indiegogo/evan.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	      		<h3> Evan Cohen </h3>
	    	</a>
	    	Community Manager &ndash; Hardware, Design and Technology @ Indiegogo
	  	</div>
		
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/knewton/samantha.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	      		<h3> Samantha Zucker </h3>
	    	</a>
	  	</div>
	</div>
</div>