<div class="text" style="color: #282822; text-align: center;">
    <div class="content_wrap">
        <h1>TeenTech NY 2014 </h1> 
        Build Bridges Not Borders: Tech For a Better World
    </div>
</div>

<h2>Speakers</h2>
<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/indiegogo/evan.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/evan_cohen/" style="text-decoration: none;">
	      		<h3> Evan Cohen </h3>
	    	</a>
	    	Community Manager &ndash; Hardware, Design and Technology @ Indiegogo
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/knewton/samantha.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/samantha_zucker/" style="text-decoration: none;">
	      		<h3> Samantha Zucker </h3>
	    	</a>
	    	UX Designer @ Knewton
	  	</div>
	</div>

</div>

<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/andrew/andrew.jpg">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/andrew_brust/" style="text-decoration: none;">
	      		<h3> Andrew Brust </h3>
	    	</a>
	    	Research Director for Big Data and Analytics @ Gigaom
	  	</div>
	</div>
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/quiessence_phillips/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/quiessence/quiessence.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/quiessence_phillips/" style="text-decoration: none;">
	      		<h3> Quiessence Phillips </h3>
	    	</a>
	    	Cyber Security professional
		</div>
	</div>
</div>

<div class="row sr">
	<div class="speaker col" >
		<div class="speaker_Head">
	  		<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	    		<img class="speaker_head" src="/images/desiree/desiree.png">
	  		</a>
	  	</div>
	  	<div class="about_speaker">
	    	<a href="/speakers/desiree_frieson/" style="text-decoration: none;">
	      		<h3> Desiree Frieson </h3>
	    	</a>
	    	Lead Organizer @ 3 Day Startup NYC
	  	</div>
	</div>
</div>

