<h2>
  <span style="color: rgb(115,180,0)">Innovate </span> 
  <span style="color: rgb(235,115,0)">Collaborate </span>
  <span style="color: rgb(135,75,145)"> Create </span> 
</h2>

<h3 style="font-weight: lighter;">
	Saturday October 18<sup>th</sup> 2014 will be first ever TeenTech NY conference. Brought to you by teens for teens, TeenTech NY is open to all high school students and attendance is FREE.
</h3>

	<a class="fake_button" href="/signup/">
		<div class="fake_button large" style="background-color: #538ec4;
		background-image: -webkit-linear-gradient(top, #538ec4, #4082be);
	display: inline;
	color: #ecf0f1;
	padding: 5px 10px;
	font-weight: normal;
	border-radius: 5px;">
			BE THERE!
		</div>
	</a>
<hr>
