.page-content
	padding: 20px
	background: $sec-white-b
	color: $text-color
 
.wrap
	position: relative
	max-width: 1440px
	margin: 0 auto

.wrap_wide
	position: relative
	max-width: 100%
	margin: 0 auto

//Centers images
.image_wrap
	margin: 0 auto
	width: 100%

.page_title
	text-align: center
	margin: 30px auto

	h1, h2, h3
		margin: 0


