<footer class="site-footer">
	<div id="footer">
	    <span class="page_link">
	        <a href="/" style="color:white; text-decoration:none;">Home</a>
	    </span>
	    <span class="page_link">
	        <a href="/contact/" style="color:white; text-decoration:none;">Contact Us</a>
	    </span>
	    <span class="page_link">
	        <a href="/team/" style="color:white; text-decoration:none;">The Team</a>
	    </span>
	    <span class="page_link">
	        <a href="http://blog.teentechny.org" style="color:white; text-decoration:none;">Blog</a>
	    </span>
	</div>
	
 </footer>
