<header class="site-header">
	<nav id='header'>
	      <div id="nav_left">
	       <span><a href="/" target="_self"> Teen Tech NY </a></span>
	      </div>
	      <div id="nav_right">
	        <span><a href="#speakers" target="_self"> Speakers </a></span>
	        <span><a href="#faq" target="_self"> FAQ </a></span>
	      </div>
	    </nav>
	
	    <div id='banner'>
	      <span id="title"> Teen Tech NY </span>
	      <img id="skyline" src="/images/skyline.png"/>
	      <img id="logo" src="/images/logo.svg" /> 
	    </div>
</header>
