<div class="video_header">
	<div class="video_overlay" >
		<div class="nav">
			<ul class="bigger">
				<li><a href="/#">Home </a></li>
				<li><a href="/#about"> About </a></li>
				<li><a href="/"> Blog </a></li>
			</ul>
		</div>
		<div class="video_title">
			<div class="video_image">
				<img src="/images/ttny_logo_hollow.svg">
			</div>
			<span class="gigantic"> TeenTech NY </span>
			<h2 class="video_tag_line">
			  	<span style="color: rgb(115,180,0)">Innovate </span> 
			  	<span style="color: rgb(235,115,0)">Collaborate </span>
		 	 	<span style="color: rgb(135,75,145)"> Create </span> 
			</h2>
		</div>
	</div>

	<div class="videoBG" >
		<video loop muted autoplay="autoplay" poster="/images/video_placeholder.png"> 
			<source src="http://cdn.teentechny.org/video/street_420p.webm" type="video/webm" />
			<source src="http://cdn.teentechny.org/video/street_420p.ogg" type="video/ogg" />
			<source src="http://cdn.teentechny.org/video/street_420p.mp4" type="video/mp4" />
			<span style="color: white"> Unfortunately your browser can’t support the awesomeness that is the TeenTech website, sorry :(</span>
		</video>
	</div>
</div>

